<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Author List</title>
    
     <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<h2>Edit Author</h2>
    <form method="post" th:action="@{/authors/edit/{id}(id=${author.id})}" th:object="${author}">
        <!-- Hidden input for the ID -->
        <input type="hidden" th:field="*{id}" />

        <!-- Editable fields -->
        Name: <input type="text" th:field="*{name}" /><br/>
        lastName: <input type="text" th:field="*{lastName}" /><br/>

        <!-- Submit button -->
        <input type="submit" value="Save"/>
    </form>

</body>
</html>
