<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Book</title>
</head>
<body>

<h2>Edit Book</h2>
<form action="@{/books/edit/{id}}" method="post" th:object="${book}">
    <input type="hidden" th:field="*{id}">
    
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" th:field="*{title}" required><br>
    
    <label for="author">Author:</label>
    <select id="author" name="author.id" th:field="*{author.id}" required>
        <option th:each="a : ${authors}" th:value="${a.id}" th:text="${a.name}" th:selected="${a.id == book.author.id}"></option>
    </select><br>
    
    <button type="submit">Save</button>
</form>


<a href="/books">Back to List</a>
</body>
</html>
